section {
  height: 100%;
}

img {
  border: none !important;
  box-shadow: none !important;
}

img.-overlay {
  position: fixed;
  top: 75px;
  left: 0;
  width: 1200px;
  height: 600px;
}

.c-twitter {
  color: #33ccff;
}
